@model SlovenskiKino.Models.CenikVstopnic

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CenikVstopnic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPodjetja" class="control-label"></label>
                <select asp-for="IdPodjetja" class ="form-control" asp-items="ViewBag.IdPodjetja"></select>
            </div>
            <div class="form-group">
                <label asp-for="RednaCena" class="control-label"></label>
                <input asp-for="RednaCena" class="form-control" />
                <span asp-validation-for="RednaCena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenaSpopustom" class="control-label"></label>
                <input asp-for="CenaSpopustom" class="form-control" />
                <span asp-validation-for="CenaSpopustom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentskaCena" class="control-label"></label>
                <input asp-for="StudentskaCena" class="form-control" />
                <span asp-validation-for="StudentskaCena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doplacilo3D" class="control-label"></label>
                <input asp-for="Doplacilo3D" class="form-control" />
                <span asp-validation-for="Doplacilo3D" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoplaciloZa120" class="control-label"></label>
                <input asp-for="DoplaciloZa120" class="form-control" />
                <span asp-validation-for="DoplaciloZa120" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
